<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title | default("Simplifica Notícias") }}</title>

  <!-- Google AdSense -->
  <script async 
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6593537699873785"
    crossorigin="anonymous"></script>
  <!-- Fim AdSense -->

  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  {{ content | safe }}
</body>
</html>
