---
layout: layout.njk
title: Simplifica Notícias
---

<h1>Bem‑vindo ao Simplifica Notícias!</h1>
{% for item in collections.news %}
  <article>
    <h2>{{ item.data.title }}</h2>
    <p>{{ item.data.summary }}</p>
    <a href="{{ item.data.url }}" target="_blank">Leia mais →</a>
    <hr>
  </article>
{% endfor %}
